body {
	container-name: mobile;
	container-type: inline-size;
}

/* Header */

header {
	padding: 25px 35px;
}

.header-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	container-name: tablet;
	container-type: inline-size;
}

.header-nav-logo a img {
	width: 80px;
}

.header-nav-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-nav-menu li a {
	padding: 0 10px;
	color: var(--black);
}

.header-nav-action {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 0.8rem;
}

.header-nav-action-login a {
	padding: 0 15px;
	color: var(--black);
}

.header-nav-action-free a {
	padding: 0 10px;
	background-color: var(--black);
	color: var(--off-white);
	border-radius: 30px;
	padding: 8px 10px;
}

.hamburguer {
	display: none;
}

/* Main */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--black-2);
	margin: 150px 200px;
}

.hero h1 {
	font-size: 5rem;
	font-weight: 800;
	text-align: center;
	color: var(--black);
	margin: 50px 0;
}

.hero span {
	background-color: var(--accent);
	color: var(--off-white);
	border-radius: 50px;
	padding: 3px 6px;
	font-size: 0.7rem;
	margin-right: 5px;
	font-weight: 500;
}

.section-buttons .btn-free {
	background-color: var(--black);
	color: var(--off-white);
	border-radius: 50px;
	padding: 8px 15px;
	font-size: 1.2rem;
	cursor: pointer;
}

.section-buttons .btn-more {
	border: none;
	background-color: var(--bg);
	color: var(--black-2);
	font-size: 1.2rem;
	padding: 8px 20px;
	cursor: pointer;
}

.card {
	display: flex;
	flex-direction: column;
	color: var(--black-3);
	container-name: tablet;
	container-type: inline-size;
}

.card .card-info span {
	color: var(--accent);
}

.card .card-info h2 {
	color: var(--black);
	font-size: 2rem;
	font-weight: 600;
	margin: 40px 0;
}

.card .card-info {
	margin: 50px 150px;
	padding: 50px;
	background-color: var(--alt-bg);
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

.card .card-info .card-info-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.card-info-bottom li {
	border-bottom: 1px solid var(--borders);
	padding: 10px 0;
}

.card .card-stiky {
	position: sticky;
	top: 0;
}

.card-info-left {
	margin-right: 80px;
	position: relative;
}

.card img {
	width: 700px;
	height: 500px;
	max-width: 1150px;
}

/* Footer */

footer {
	padding: 25px 0;
	font-size: 0.9rem;
	container-name: tablet;
	container-type: inline-size;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 150px;
}

.footer-bottom p {
	color: var(--black-3);
}

.footer-socialmedia {
	display: flex;
	align-items: center;
}

.footer-socialmedia a {
	padding: 0 10px;
	color: var(--black-3);
}

.footer-grid {
	border-bottom: 1px solid var(--borders);
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(1, 1fr);
	margin: 30px 150px;
}

.footer-grid h3 {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--black);
	padding-bottom: 20px;
}

.footer-grid li {
	padding-bottom: 10px;
}

.footer-grid a {
	font-size: 1rem;
	color: var(--black-3);
}

.footer-grid a:hover,
.footer-bottom a:hover {
	color: var(--black-2);
	transition: 0.5s;
}

/* Tablet */

@container tablet (width < 770px) {

@container tablet (width < 770px) {
	.header-nav-menu,
	.header-nav-action {
		display: none;
	}

	.hamburguer {
		display: inline-block;
		width: 25px;
	}

	.card .card-info {
		display: block;
		margin: 50px 35px;
		padding: 35px;
	}

	.card .card-info .card-info-bottom {
		position: static;
		margin: 20px 0;
	}

	.card-info-left {
		margin-right: 0;
		position: static;
	}

	.card img {
		max-width: 100%;
	}

	.footer-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin: 30px 50px;
	}

	.footer-bottom {
		flex-direction: column;
		margin: 30px 50px;
	}

	.footer-grid ul {
		margin-bottom: 20px;
	}
	.footer-bottom p {
		margin-bottom: 30px;
	}
}

/* Mobile */

@container mobile (width < 576px) {
	header {
		padding: 15px 15px;
	}

	.hero h1 {
		font-size: 3.55rem;
	}

	.hero {
		margin: 50px 35px;
	}

	.footer-grid {
		margin: 30px 35px;
	}

	.footer-bottom {
		margin: 30px 0;
	}
}
