@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	font-family: "Inter", sans-serif;
	--page-background: #222;
	--flag-width: 100%;
}

html,
body {
	margin: 0;
	padding: 32px 16px;
	background: var(--page-background);
	color: white;
}

body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.flag {
	width: var(--flag-width);
	aspect-ratio: 4/3;
	background: gainsboro;
	position: relative;
}

.flag::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-image: linear-gradient(120deg, rgba(240, 240, 240, 0.271), rgba(92, 13, 13, 0.162));*/
}

.flag_title {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}

.flag-italy {
	display: flex;
}

.italy {
	width: 33.33%;
	height: 100%;
}

.italy.italy-green {
	background-color: #18954c;
}

.italy.italy-white {
	background-color: white;
}

.italy.italy-red {
	background-color: #d0333d;
}

.ukraine {
	height: 50%;
}

.ukraine.ukraine-blue {
	background-color: #0f5cb9;
}

.ukraine.ukraine-yellow {
	background-color: #ffd81e;
}

.flag-kuwait {
	position: relative;
}

.kuwait.kuwait-black {
	background-color: black;
	width: 30%;
	height: 100%;
	position: absolute;
	clip-path: polygon(0 0, 100% 33%, 100% 67%, 0% 100%);
}

.kuwait.kuwait-green {
	background-color: #148469;
	height: 33.33%;
}

.kuwait.kuwait-white {
	background-color: white;
	height: 33.33%;
}

.kuwait.kuwait-red {
	background-color: #d01f2e;
	height: 33.33%;
}

.flag-bangladesh {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #126f53;
}

.bangladesh {
	background-color: #f43448;
	width: 50%;
	height: 65%;
	border-radius: 100%;
}

.flag-portugal {
	display: flex;
	position: relative;
}

.portugal {
	height: 100%;
}

.portugal.portugal-green {
	background-color: #126b0d;
	width: 40%;
}

.portugal.portugal-red {
	background-color: #fc1c20;
	width: 60%;
}

.portugal.portugal-yellow {
	background-color: #ffff1c;
	width: 35%;
	height: 50%;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 40%;
	translate: -50% -40%;
}

.flag-japan {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.japan {
	background-color: #f43448;
	width: 35%;
	height: 50%;
	border-radius: 100%;
}

.flag-greece {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(9, 1fr);
}

.greece.greece-blue {
	background-color: #0d5ba9;
}

.greece.greece-white {
	background-color: white;
}

.sub-area {
	grid-row: 1 / 6;
	grid-column: 1 / 2;
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.greece-sub-blue-1 {
	grid-row: 1 / 2;
	grid-column: 1 / -1;
}

.greece-sub-blue-2 {
	grid-row: 2 / 3;
	grid-column: 1 / -1;
}

.greece-white-1 {
	grid-row: 3 / 4;
	grid-column: 1 / -1;
}

.greece-sub-blue-3 {
	grid-row: 4 / 5;
	grid-column: 1 / -1;
}

.greece-sub-blue-4 {
	grid-row: 5 / 6;
	grid-column: 1 / -1;
}

.greece-white-2 {
	grid-row: 3 / 4;
	grid-column: 1 / -1;
	transform: rotate(90deg);
	width: 125%;
	translate: -9% 0;
}

.bue-1 {
	grid-row: 1 / 2;
	grid-column: 2 / -1;
}

.bue-2 {
	grid-row: 3 / 4;
	grid-column: 2 / -1;
}

.bue-3 {
	grid-row: 5 / 6;
	grid-column: 2 / -1;
}

.bue-4 {
	grid-row: 7 / 8;
	grid-column: 1 / -1;
}

.bue-5 {
	grid-row: 9 / -1;
	grid-column: 1 / -1;
}

.white-1 {
	grid-row: 2 / 3;
	grid-column: 2 / -1;
}

.white-2 {
	grid-row: 4 / 5;
	grid-column: 2 / -1;
}

.white-3 {
	grid-row: 6 / 7;
	grid-column: 1 / -1;
}

.white-4 {
	grid-row: 8 / 9;
	grid-column: 1 / -1;
}
