@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-size: 13px;
}

main {
	background-image: linear-gradient(-135deg, rgb(2, 2, 227), rgb(1, 1, 133));
	width: 100dvw;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: white;
	box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	width: 370px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}

.sapatilha {
	position: absolute;
	width: 380px;
	top: 330px;
	right: 520px;
}

.card-top {
	background-image: linear-gradient(45deg, rgb(248 23 0), rgb(160 114 14));
	height: 80%;
	border-radius: 10px 10px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 2rem;
	padding: 12px;
	overflow: hidden;
	position: relative;
}

.card-top-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 2rem;
}

.card-top-price img {
	max-width: 15%;
}

.card-top-price span {
	font-size: 1.4rem;
}

.card-top-info {
	margin-top: 35px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-bottom: 25px;
	font-weight: 600;
}

.card-top-info p {
	line-height: 1.6;
}

.card-top-info span {
	font-size: 18.5rem;
	opacity: 0.3;
	font-weight: 500;
	letter-spacing: 2.5rem;
	position: relative;
	right: 30px;
}

.card-action {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	gap: 15px;
	padding: 12px;
}

button {
	width: 120px;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(2, 2, 227);
	letter-spacing: 3px;
	border: 2px solid rgb(2, 2, 227);
	padding: 12px 35px;
	border-radius: 20px;
	background-color: white;
	z-index: 10000;
}

button:hover {
	background-color: rgb(2, 2, 227);
	color: white;
}

.card-action span {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9rem;
	letter-spacing: 7px;
	display: block;
	color: rgb(203, 198, 198);
}
